body {
    border-width:2px;
    border-color:red;
    border-style:solid;
}
.gae-info {
    position:fixed;
    top:50px;
    padding:20px;
    width:80%;
    background-color:#ffffff;
    color:#1a1a1a;
    right:0px;
    border-radius: 5px 0 0 5px;
    border-color:#1a1a1a;
    border-style:solid;
    border-width:1px;
    box-shadow: 3px 3px 5px 6px #ccc;
    display:none;
    z-index:999666;
}

.show {
    display:block;
}

.gae-info-close {
    margin-right:10px;
    margin-left:10px;
    float:right;
}

.gae-event {
    border-style:dotted !important;
    border-color:darkred;
    border-width: 3px !important;
    /*cursor:not-allowed !important;*/
}

.gae-event-contact-links{
    border-color:darkorange;
}

.gae-event-custom-element-tracking {
    border-color:magenta;
}

.gae-event-custom-links {
    border-color:darkgray;
}

.gae-event-file-downloads {
    border-color:black;
}

.gae-event-form-submission-tracking{
    border-color:firebrick;
}

.gae-event-form-tracking-field-change{
    border-color:greenyellow !important;
}

.gae-form-tracking-gravity-success{
    border-color:limegreen;
}

.gae-mailchimp{
    border-color:darkgreen;
}

.gae-event-outgoing-links {
    border-color:red;
}

.gae-event-search{
    border-color:pink !important;
}

.gae-event-social-links{
    border-color:darkblue;
}

.gae-event-links-to-specific-urls {
    border-color:cyan;
}


.gae-event-form-submission {
    border-color:deepskyblue;
}


.gae-colors {
    width:100%;
    position:fixed;
    bottom:0px;
    border-style:solid;
    border-color:black;
    border-width: 0;
    border-top-width: 3px;
    background-color:white;
    box-shadow: 0 -5px 30px black;
    z-index:999777;
}

.gae-colors a{
    color:firebrick;
}
.gae-colors a:hover{
    color:darkred;
}

.gae-colors .gae-info-close {
    padding:10px;
    display:none;
    font-size:16px;
    line-height:20px;
    float:left;
}

.gae-colors .gae-info-open {
    padding:10px;
    font-size:16px;
    line-height:20px;
    display: block;
}

.gae-colors.show .gae-info-close {
    padding:10px;
    display:block;
}

.gae-colors.show .gae-info-open {
    padding:10px;
    display:none;
}


.gae-colors .gae-info-content {
    margin:0 auto;
    display:block;
    position:relative;
    width:auto;
    float:left;
    background-color:white;
    padding:0 20px;
}

.gae-colors .gae-info-content{
    display:none;
}

.gae-colors.show .gae-info-content{
    display:block;
}

.gae-colors .gae-info-content p {
    padding:20px 0;
    font-size:12px;
    display:block;
}

.gae-colors ul {
    display:block;
    width:100%;
    height:autp;
    overflow:hidden;
    margin:auto 0;
}

.gae-colors ul li{
    display:block;
    position:relative;

    list-style: none;
    margin:5px 10px;
    float:left;
    width:14%;
    text-align:center;
    padding:0;
    font-weight: bold;
    font-size:10px;
}
.gae-event-switch {
    cursor:pointer;
}


.gae-event.gae-hide-color {
    border-width: 3px;
    border-color: transparent !important;
}

.gae-colorBoxOpened{
    padding-bottom:200px;
}